<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Add Verifiable Credential to your Digital Wallet</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Doximity Verifiable Credential Issuer</h1>
        <p>To get started, point your wallet's scanner to the QR Code below:</p>
      </header>
      <div class="form">
        <button value="{{ vc.uri }}">Initiate Issuance Request</button>
      </div>
      <div class="qr-code">
        <img src="/qr/{{ vc.uri_enc }}" alt="qr-code">
      </div>
      <div class="otp">
        <input required type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="4" pattern="\d{4}" value="{{ vc.tx_code }}">
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>